/* You can add global styles to this file, and also import other style files */
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.col-md-12 .col-md-4 {
    padding-left: 15px !important;
    padding-right: 10px !important;
    margin-left: 0px;
    margin-right: 0px;
}